.section-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0 5%;
  padding: 2%;
  border-radius: 20px;
}
.section-info {
  flex: 0 0 32%;
  max-width: 32%;
}
.section-containers {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.section-containers .custom-container {
  flex: unset !important;   
  max-width: unset !important;  
  width: 100% !important;   
  box-shadow: none !important;  
  margin-bottom: 0;
  padding: 0.7rem 1rem;
}
.section-icon {
  font-size: 4rem !important;
  color: var(--md-accent-fg-color);
  margin-bottom: 10px;
}
.section-info img{
  width: 20%;
  height: 20%;
}
.section-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.section-containers .custom-container:hover{
  scale: none !important;
  box-shadow:  0px 0px 20px 0px rgba(129, 142, 142, 0.571) !important;
}
.section-containers .custom-container h2{
  margin: 0 !important;
  transition: color 0.3s ease !important;
}
.section-containers .custom-container  .custom-icon-arrow{
  bottom: 10%;
}

 .section-containers .custom-container {
  background: none !important;
  background-color:var(--md-default-bg-color) !important; 
}
:root {
  --section-blue: #e6f7fb;
  --section-yellow: #fff3e0;
  --section-green: #f0f8e8; 
  --section-orange: #fff0e6; 
}

[data-md-color-scheme="slate"] {
  --section-blue: #003d4d26;
  --section-yellow: #4a330029; 
  --section-green: #2f4d1a2b;
  --section-orange: #4d1f0036;
}

.section-wrapper.section-1 {
  --section-accent: #00b2dc;
  background-color: var(--section-blue);
  border-left: 12px solid #00b2dc;
}

.section-wrapper.section-2 {
  --section-accent: #fdb73b;
  background-color: var(--section-yellow);
  border-left: 12px solid #fdb73b;
}

.section-wrapper.section-3 {
  --section-accent: #92c849;
  background-color: var(--section-green);
  border-left: 12px solid #92c849;
}

.section-wrapper.section-4 {
  --section-accent: #fb8212d4;
  background-color: var(--section-orange);
  border-left: 12px solid #fb8212d4;
}

.section-wrapper .custom-icon,
.section-wrapper .custom-link {
  color: var(--section-accent) !important;
}

/* ---------------- Responsive  Styles ---------------- */

@media (max-width: 1024px) {
  .section-wrapper {
    flex-direction: column;
    padding: 5%;
  }

  .section-info {
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-containers {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .section-containers {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .section-containers .custom-container {
    width: 90% !important; 
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .section-wrapper {
    padding: 10%;
  }

  .section-info h2 {
    font-size: 1.2rem;
  }

  .section-containers .custom-container {
    width: 100% !important;
    font-size: 13px;
    padding: 15px;
  }
}