/* Tab Container */
.tab-container {
  margin-top: 2rem auto;
  padding: 0 2rem;
}

/* Tab Buttons */
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.tab-button {
  padding: 0.6em 1em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  background-color: var(--md-code-bg-color);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transform: scale(1);
  z-index: 2;
}

.tab-button:hover {
  color: var(--md-accent-fg-color);
}

.tab-button.active {
  background-color: var(--md-accent-fg-color);
  color: var(--rdk-white);
  animation: scaleUp 0.3s ease forwards;
}

/* Animations */
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.11);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tab Content */
.tab-content {
  padding: 1.5rem;
  border-radius: 7px;
  animation: fadeIn 0.5s ease-in-out;
  text-align: center;
}

/* Image and video styles */
#tab-entertainment img,
#tab-entertainment video,
#tab-connectivity img,
#tab-connectivity video {
  display: block;
  margin: 1rem auto;
  width: 800px;
  height: 480px;
  max-width: 100%;
}

/* Responsive styles*/
@media screen and (max-width: 768px) {
  .tab-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.8rem;
  }
  .tab-button.active {
    font-size: 0.9rem;
  }
  .tab-button {
    flex: 0 0 auto;
    text-align: center;
    min-width: 80px;
  }
  .tab-container {
    padding: 0;
  }

  .tab-content {
    padding: 0.5rem;
    margin: 1rem;
  }

  #tab-entertainment img,
  #tab-entertainment video,
  #tab-connectivity img,
  #tab-connectivity video {
    display: block;
    margin: 1rem auto;
    height: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .tab-button {
    font-size: 1.2rem;
    padding: 0.7em 1.2em;
  }

  .tab-content p {
    font-size: 28px;
  }
  #tab-entertainment img,
  #tab-entertainment video,
  #tab-connectivity img,
  #tab-connectivity video {
    display: block;
    margin: 1rem auto;
    width: 1500px;
    height: 980px;
    max-width: 100%;
  }
}
