<div class="bottom-banner compact-footer">
  <!-- Left Section: Logo and Copyright -->
  <div class="footer-left">
    <img src="{{'assets/logo.png' |url}}" alt="RDK Logo" class="rdk-logo" />
    <p class="copyright">Copyright © 2025 RDK Management, LLC. For more information, please visit:<a href="https://rdkcentral.com/"> www.rdkcentral.com.</a></p>
  </div>

  <!-- Right Section: Links and Support -->
  <div class="footer-right">
    <!-- Explore RDK -->
    <div class="banner-group">
      <h3>Explore RDK</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="{{'preview-rdk/docs/getting-started' | url }}">Getting Started</a></li>
          <li><a href="{{'devices/docs/' | url }}">Devices</a></li>
          <li><a href="{{'preview-rdk/docs/getting-started' | url }}">Tools</a></li>
        </ul>
      </div>
    </div>
    <!-- Device Management -->
    <div class="banner-group">
      <h3>Device Management</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="/device-management/docs/XConf/">XConf</a></li>
          <li><a href="/device-management/docs/Telemetry/">Telemetry</a></li>
          <li><a href="./entertainment/docs/sample_home1/">Ent Home 1</a></li>
          <li><a href="./entertainment/docs/sample_home2/">Ent Home 2</a></li>
          <li><a href="./entertainment/docs/sample_home3/">Ent Home 3</a></li>
        </ul>
      </div>
    </div>
    <!-- Explore RDK -->
    <div class="banner-group">
      <h3>Test & Certification</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="{{'https://wiki.rdkcentral.com/pages/viewpage.action?pageId=131729119' | url }}">RDK Certification</a></li>
          <li><a href="{{'tools/docs/TDK/' | url }}">TDK</a></li>
          <li><a href="{{'tools/docs/Automatics/' | url }}">Automatics</a></li>
        </ul>
      </div>
    </div>
     <!-- Resources-->
    <div class="banner-group">
      <h3>Resources</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="./entertainment/docs/sample_home4/">Ent Home 4</a></li>
          <li><a href="./entertainment/docs/sample_home5/">Ent Home 5</a></li>
          <li><a href="./docu/nov05/rdkb_components/">RDK-B Review</a></li>
          <li><a href="/sitemap.xml">Site Map</a></li>
        </ul>
      </div>
    </div>
</div>
