<div class="bottom-banner compact-footer">
  <!-- Left Section: Logo and Copyright -->
  <div class="footer-left">
    <img src="{{'assets/logo.png' |url}}" alt="RDK Logo" class="rdk-logo" />
    <p class="copyright">Copyright © 2025 RDK Management, LLC. For more information, please visit:<a href="https://rdkcentral.com/"> www.rdkcentral.com.</a></p>
  </div>

  <!-- Right Section: Links and Support -->
  <div class="footer-right">
    <!-- Explore RDK -->
    <div class="banner-group">
      <h3>Explore RDK</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="{{'preview-rdk/getting-started' | url }}">Getting Started</a></li>
          <li><a href="{{'devices/docs/devices/' | url }}">Devices</a></li>
          <li><a href="{{'preview-rdk/getting-started' | url }}">Tools</a></li>
        </ul>
      </div>
    </div>
    <!-- Device Management -->
    <div class="banner-group">
      <h3>Device Management</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="/entertainment/movies/">XConf</a></li>
          <li><a href="/entertainment/games/">Telemetry</a></li>
          <li><a href="/entertainment/live-tv/">Web PA</a></li>
          <li><a href="/entertainment/events/">TR 369</a></li>
        </ul>
      </div>
    </div>
    <!-- Explore RDK -->
    <div class="banner-group">
      <h3>Test & Certification</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="{{'preview-rdk/getting-started' | url }}">RDK Certification</a></li>
          <li><a href="{{'devices/docs/devices/' | url }}">TDK</a></li>
          <li><a href="{{'preview-rdk/getting-started' | url }}">Automatics</a></li>
        </ul>
      </div>
    </div>
     <!-- Resources-->
    <div class="banner-group">
      <h3>Resources</h3>
      <div class="sub-columns">
        <ul>
          <li><a href="/connectivity/wifi/">Knowledge Articles</a></li>
          <li><a href="/sitemap/">Quick Links</a></li>
          <li><a href="/sitemap.xml">Site Map</a></li>
        </ul>
      </div>
    </div>
</div>
