.section-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0 5%;
  padding: 3%;
  border-radius: 20px;
  background-color: var(--md-primary-fg-color) !important;
  box-shadow:  0px 0px 20px 0px rgba(68, 69, 69, 0.571) !important;
}

.section-info {
  flex: 0 0 32%;
  max-width: 32%;
}
.section-containers {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.section-containers .custom-container {
  flex: unset !important;   
  max-width: unset !important;  
  width: 100% !important;   
  box-shadow: none !important;  
  margin-bottom: 0;
  padding: 0.9rem 1rem;
}
.section-icon {
  font-size: 4rem !important;
  color: var(--md-accent-fg-color);
  margin-bottom: 10px;
}
.section-info img{
  width: 20%;
  height: 20%;
}
.section-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.section-info p{
  color: #7a7a7a !important;
}
.section-containers .custom-container:hover{
  scale: none !important;
  box-shadow: 0px 3px 20px 0px rgba(68, 69, 69, 0.571) !important;
  border-left: 5px solid var(--md-accent-fg-color) !important;
}
.section-containers .custom-container h2{
  margin: 0 !important;
  transition: color 0.3s ease !important;
}
.section-containers .custom-container p{
  color:#7a7a7a !important;
}
.section-containers .custom-container  .custom-icon-arrow{
  bottom: 10%;
}
 .section-containers .custom-container {
  background: none !important;
  background-color:var(--section-blue) !important; 
}
.section-containers .custom-container .link-row a{
  padding: .2rem .5rem;
  background-color: var(--md-primary-fg-color);
  color: var(--md-accent-fg-color) !important;
  border-radius: 5px;
  font-size: 14px !important;
}
.section-containers .custom-container:hover .custom-link{
 text-decoration: none !important;
 background-color: var(--md-accent-fg-color);
 color: var(--md-primary-fg-color) !important;
}
/* ---------------- Responsive  Styles ---------------- */

@media (max-width: 1024px) {
  .section-wrapper {
    flex-direction: column;
    padding: 5%;
  }

  .section-info {
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-containers {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .section-containers {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .section-containers .custom-container {
    width: 90% !important; 
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .section-wrapper {
    padding: 10%;
  }

  .section-info h2 {
    font-size: 1.2rem;
  }

  .section-containers .custom-container {
    width: 100% !important;
    font-size: 13px;
    padding: 15px;
  }
}